.popup-container{
    display: grid;
    position: relative;
    /*grid-template-columns: repeat(12, 1fr);*/
    overflow: hidden;
}

img {
    display: block;
    overflow: hidden;
}

.object-card {
    grid-column: 1 / auto;
    grid-row: 1;
    position: relative;
}


.close-button {
    border-radius: 50%;
    border: 2px solid #F8920CFF;
    background: linear-gradient(90deg, #F8A90C 0%, #E54A3F 100%);
    background-clip: padding-box;
    width: 40px;
    height: 40px;
    margin-right: 20px;
    margin-top: 20px;
    margin-left: auto;
    transition: background 0.3s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.close-button:hover {
    border-radius: 50%;
    border: 2px solid rgba(203, 124, 31, 0.89);
    background: linear-gradient(90deg, #F8A90C 0%, #E54A3F 100%);
    background-clip: padding-box;
    width: 40px;
    height: 40px;
    margin-right: 20px;
    margin-top: 20px;
    margin-left: auto;
    transition: background 0.3s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: rgba(33, 33, 33, 0.7);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%), linear-gradient(90deg, rgba(218, 154, 26, 0.81) 0%, #E54A3F 100%);
    background-clip: padding-box;
    overflow: hidden;
}

.modal-div {
    display: flex;
    flex-direction: column;
    background: linear-gradient(181deg, #10a2d5 2.19%, #156BAE 54.89%);
    max-width: 720px;
    width: 100%;
    height: 930px;
    max-height: 930px;
    position: relative;
    z-index: 10; /* Содержимое поверх изображения */
    border-radius: 28px;
    overflow: hidden;
    padding: 40px 40px 40px 40px;
    box-sizing: border-box;
    justify-content: space-between;
    outline: none;
}

.header-text {
    font-size: 72px;
    margin-bottom: 0px;
    row-gap: 10px;
    flex-direction: column;
    margin-top: 0px;
}

.description-top {
    display: flex;
    gap: 36px;
}

.description-text {
    text-align: left;
    color: #fff;
    font-size: 24px;
    margin-top: 24px;
}

.description-text-top {
    color: rgba(255, 255, 255, 0.68);
    text-align: left;
    margin: 0px;
    color: rgba(255, 255, 255, 0.68);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 33.6px */
}

.preview-play-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.16);
    background: linear-gradient(90deg, #F8A90C 0%, #E54A3F 100%);
    background-clip: padding-box;
    overflow: hidden;
    position: relative;
    top: 25px;
    left: 25px;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.preview-play-button:hover {
    border-radius: 50%;
    border: 2px solid rgba(203, 124, 31, 0.89);
    /*background: linear-gradient(90deg, #F8A90C 0%, #E54A3F 100%);*/
    /*background-clip: padding-box;*/
    /*width: 40px;*/
    /*height: 40px;*/
    /*margin-right: 20px;*/
    /*margin-top: 20px;*/
    /*margin-left: auto;*/
    transition: background 0.3s ease-in;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*overflow: hidden;*/
    /*background: rgba(33, 33, 33, 0.7);*/
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%), linear-gradient(90deg, rgba(218, 154, 26, 0.81) 0%, #E54A3F 100%);
    /*background-clip: padding-box;*/
    /*overflow: hidden;*/
}

.preview-play-label {
    font-size: 24px;
    padding: 10px;
    margin: 0 auto;
}
.module-game {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 28px;
    z-index: -3;
    /* backdrop-filter: blur(2px); */
    flex-direction: column;
    height: 100%;
}

.game {
    margin: 40px;
    /*position: absolute;*/
    width: 90%;
    border-radius: 20px;
    border: 3px solid rgba(255, 255, 255, 0);
    transition: border 0.3s ease-in;
    z-index: -1;
    bottom: 20px;
    left: 0px;
    right: 0px;
    filter:brightness(80%);
}

.game:hover {
    cursor: pointer;
    border: 3px solid rgba(255, 255, 255, 0.16);
    filter:brightness(100%);
}

.game-button {
    outline: none;
    background: transparent;
    border: none;
    /*margin-top: 200px;*/
    /*position: sticky;*/
}

.modale-div-all {
    position: relative;
    max-width: 1655px;
    width: 90%;
    border-radius: 28px;
    display: flex;
    /* margin-bottom: -5px; */
    padding-right: -40px;
    justify-content: space-between;
    align-items: flex-start;
}

.back-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Для полного заполнения фона */
    z-index: -1; /* Чтобы изображение было под содержимым */
    border-radius: 28px;
    /*backdrop-filter: blur(2px);*/
}

.div-close-btn {
    position: relative;
    justify-content: flex-end;
    /*top: 40px;*/
    /*right: -80px;*/
}

.game-close-btn {
    position: relative;
    justify-content: flex-end;
    top: -10px;
    right: 50px;
}

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center; /* Центрирование по вертикали */
    justify-content: center; /* Центрирование по горизонтали */
}

.modal-content {
    z-index: 1001;
    /* align-content: center; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    outline: none;
}

.modal-game {
    z-index: 10000;
}

.wave-1 {
    position: absolute;
    z-index: -5;
    overflow: hidden;
    bottom: -90px;
    width: 100%;
    margin: 0px -40px 0px -40px;

}

.wave-2 {
    position: absolute;
    z-index: -6;
    overflow: hidden;
    bottom: 0px;
    width: 100%;
    margin: 0px -40px 0px -40px;

    /*left: 40px;*/
}

.wave-3 {
    position: absolute;
    z-index: -7;
    overflow: hidden;
    bottom: 120px;
    width: 100%;
    scale: 1.2;
    margin: 0px -40px 0px -40px;
}

@keyframes hoverObjectSmall {
    from{
        opacity: 0.8;
        transform: scale(1);
    }
    to {
        opacity: 1;
        transform: scale(1.1);
    }
}
@keyframes unhoverObjectSmall {
    from{
        opacity: 1;
        transform: scale(1.1);
    }
    to {
        opacity: 0;
        transform: scale(1);
    }
}

@keyframes hoverObjectBig {
    from{
        opacity: 0.9;
        transform: scale(1);
    }
    to {
        opacity: 1;
        transform: scale(1.1);
    }
}

@keyframes unhoverObjectBig {
    from{
        opacity: 1;
        transform: scale(1.1);
    }
    to {
        opacity: 0;
        transform: scale(1);
    }
}

@keyframes hoverObjectAudag {
    from{
        opacity: 0.9;
        transform: scale(1);
    }
    to {
        opacity: 1;
        transform: scale(1.1);
        /*transform: translateX(-20px)*/
    }
}

@keyframes unhoverObjectAudag {
    from{
        opacity: 1;
        transform: scale(1.1);
    }
    to {
        opacity: 0;
        transform: scale(1);
    }
}
.arena {
    opacity: 0.5;
    scale: 0.50;
    background: none;
    border: none;
    position: absolute;
    left: 795px;
    top: 435px;
}

.started .arena:hover {
    opacity: 1;
    animation: hoverObjectBig 0.5s forwards;
}

.arena:not(hover) {
    opacity: 1;
    animation: unhoverObjectBig 0.5s forwards;
}

.started .suuk {
    opacity: 0.5;
    scale: 0.50;
    background: none;
    border: none;
    position: absolute;
    left: 633px;
    top: 455px;
}

.started .suuk:hover {
    opacity: 1;
    animation: hoverObjectSmall 0.5s forwards;
}

.suuk:not(hover) {
    opacity: 1;
    animation: unhoverObjectSmall 0.5s forwards;
}

.started .school {
    opacity: 0.5;
    scale: 0.50;
    background: none;
    border: none;
    position: absolute;
    left: 1078px;
    top: 232px;
}

.started .school:hover {
    opacity: 1;
    animation: hoverObjectBig 0.5s forwards;
}

.school:not(hover) {
    opacity: 1;
    animation: unhoverObjectBig 0.5s forwards;
}


.monument {
    opacity: 0.5;
    scale: 0.5;
    background: none;
    border: none;
    position: absolute;
    left: 1020px;
    top: 515px;
}

.started .monument:hover {
    opacity: 1;
    animation: hoverObjectSmall 0.5s forwards;
}

.monument:not(hover) {
    animation: unhoverObjectSmall 0.5s forwards;
}

.audag {
    scale: 0.5;
    opacity: 0;
    background: none;
    border: none;
    position: absolute;
    left: 1060px;
    top: -60px;
}

.started .audag:hover {
    opacity: 1;
    animation: hoverObjectAudag 0.5s forwards;
}

.audag:not(hover) {
    opacity: 1;
    animation: unhoverObjectAudag 0.5s forwards;
}

.stadium {
    scale: 0.5;
    opacity: 0;
    background: none;
    border: none;
    position: absolute;
    left: 765px;
    top: 320px;
}

.started .stadium:hover {
    opacity: 1;
    animation: hoverObjectBig 0.5s forwards;
}

.stadium:not(hover) {
    opacity: 1;
    animation: unhoverObjectBig 0.5s forwards;
}

.stairs {
    opacity: 0.5;
    scale: 0.5;
    background: none;
    border: none;
    position: absolute;
    left: 1162px;
    top: 390px;
}

.started .stairs:hover {
    opacity: 1;
    animation: hoverObjectSmall 0.5s forwards;
}

.stairs:not(hover) {
    opacity: 1;
    animation: unhoverObjectSmall 0.5s forwards;
}

.fortress {
    opacity: 0.5;
    scale: 0.5;
    background: none;
    border: none;
    position: absolute;
    left: 168px;
    top: 520px;
}

.started .fortress:hover {
    opacity: 1;
    animation: hoverObjectSmall 0.5s forwards;
}

.fortress:not(hover) {
    opacity: 1;
    animation: unhoverObjectSmall 0.5s forwards;
}

.olive {
    scale: 0.5;
    opacity: 0;
    background: none;
    border: none;
    position: absolute;
    left: 1056px;
    top: 417px;
}

.started .olive:hover {
    opacity: 1;
    animation: hoverObjectSmall 0.5s forwards;
}

.olive:not(hover) {
    animation: unhoverObjectSmall 0.5s forwards;
}

.cafe {
    opacity: 1;
    scale: 0.5;
    background: none;
    border: none;
    position: absolute;
    left: 453px;
    top: 539px;
}

.started .cafe:hover{
    opacity: 1;
    animation: hoverObjectSmall 0.5s forwards;
}

.cafe:not(hover){
    opacity: 1;
    animation: unhoverObjectSmall 0.5s forwards;
}

@keyframes fadeInUp {
    from {
        opacity: 0; /* Начальное состояние: прозрачность 0 */
        transform: translateY(20px); /* Начальное состояние: смещение вниз */
    }
    to {
        opacity: 1; /* Конечное состояние: прозрачность 1 */
        transform: translateY(0); /* Конечное состояние: смещение 0 */
    }
}

@keyframes fadeInDown {
    from {
        opacity: 1; /* Конечное состояние: прозрачность 1 */
        transform: translateY(0);
     /* Начальное состояние: смещение вниз */
    }
    to {
        opacity: 0; /* Начальное состояние: прозрачность 0 */
        transform: translateY(-20px);
 /* Конечное состояние: смещение 0 */
    }
}






.modale-div-all {
    animation: fadeInUp 0.5s ease-out;
}

.media-container {
    /*background-color: #4eb543;*/
    background: linear-gradient(181deg, #10A2D5 2.19%, #156BAE 54.89%);
    backdrop-filter: blur(14px);
    position: relative;
    max-width: 1655px;
    width: 100%;
    border-radius: 28px;
    display: flex;
    margin-bottom: 75px;
    overflow: hidden;
    top: 50%;
    mergin: auto;
    /*left: 50%;*/
}

.game-preview {
    position: absolute;
    top: 40px;
    filter: brightness(80%);
}

.game-preview:hover {
    position: absolute;
    top: 40px;
    filter: brightness(100%);
}