:root {
    --white: #ffffff;
    --dark-blue: #2d2d44;
    --green: #4eb543;
    --orange: #e84e1b;

    --main-font: 'Lato', sans-serif;
    --trans: 0.135s ease-in-out;
}

* {
    font-family: var(--main-font);
    color: var(--white);
}

.header {
    margin-right: auto;
    margin: 20px 96px 20px 96px;
    font-size: 18px;
    font-weight: 500;
    color: var(--stroke-white, #FFF);
    text-align: center;
    font-style: normal;
    line-height: normal;
    display: inline-flex;
    align-items: center;
}

.header ul {
    display: flex;
}

.header li {
    list-style: none;
}

.header-list {
    gap: 36px;
    text-align: center;
    padding: 0;
    width: 1500px;
}

/*.header ul:last-child {*/
/*    margin-right: 0px;*/
/*}*/



/* not parallax styles */

body {
    margin: 0;
    padding: 0;

    font-size: 18px;
    line-height: 1.2;
    color: var(--white);
    background-color: var(--dark-blue);
    font-family: var(--main-font)
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 5rem;

    display: grid;
    place-items: center;
}

.button {
    display: grid;
    place-items: center;

    font: var(--main-font);
    color: var(--white);
    font-size: 20px;
    background-color: var(--green);
    border: 0;
    border-radius: 4px;
    min-height: 48px;
    cursor: pointer;
    transition: background-color var(--trans);
}

.title {
    margin: 0;
    margin-bottom: 2.5rem;
    font-size: 48px;
}

.circle {
    position: absolute;
    top: 3rem;
    right: 3rem;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--orange);
}


   .parallax {
       width: 50%;
       padding: 5rem;
       min-height: 10rem;
       position: relative;
       overflow: hidden;

       border: 1px solid var(--green);
       border-radius: 5px;
   }

.parallax__layer {
    transition: transform 0.3s linear;
}

.logo-list {
    display: flex;
    gap: 14px;
}

.artek-logo {
    width: 110px;
    height: 83px;
    /*margin-right: 150px;*/
}

.edu-logo {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    padding: 6px 6px 6px 6px;
}

.news-item{
    display: inline-flex;
}
.news-icon{
    margin-left: 17px;
}

.stick-logo {
    opacity: 0.5;
}

span {
    font-size: 18px;
    align-content: center;
}

.search-bling-icons{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 10px;
}

.phone-number {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}

.phone-icon {
    width: 24px;
    height: 24px;
}

.mail-icon {
    width: 24px;
    height: 24px;
}

.number {
    font-size: 24px;
}

.number-info {
    opacity: 0.5;
    font-size: 14px;
}

.contacts {
    display: flex;
    /*width: 214px;*/
    flex-direction: column;
    align-items: flex-start;
    /*row-gap: 30px;*/
    margin-left: 450px;
}

.email {
    display: flex;
    gap: 12px;
}

.phone-and-mail {
    row-gap: 4px;
    margin-top: 10px;
}

.header-container {
    position: fixed;
    z-index: 0;
}

.changer-container {
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0px;
}