.map-object {
    width: 331px;
    height: 185px;
    position: absolute;
    /*top: 300px;*/
}

.map-container {
    /*height: 1019px;*/
    /*width: 1812px;*/
    /*background-image: url('/public/source/object_images/map.png');*/

    width: 100%;
    /*height: 1019px;*/
    margin: 0;

}

.map-container .back {
    width: 120%;
    height: 120%;
    scale: 0.8;
    overflow: hidden;
    margin: 0;
    position: relative;
    left: -10%;
    top: -150px;
}

/*background: url('/public/source/object_images/map.png');*/
/*lightgray 50% / coverno-repeat;*/

.artek-arena {
    position: absolute;
    z-index: 3;
    top: 100px;
    right: -400px;
    scale: 0.09;
}

.description-card{
    z-index: 4;
    background-color: red;
}

.object-card {
    background-color: blue;
    position: fixed;
    top: -550px;
    right: -300px;
    z-index: 3;
}

.gradient-under-map {
    width: 100%;
    height: 657px;
    flex-shrink: 0;
    background: linear-gradient(180deg, rgba(219, 234, 254, 0.00) 0%, #E3EFFE 51.68%, #EAF3FE 100%);
    top: 841px;
}

.changer-container {
    position: fixed;
    z-index: -1;
}

.play-button {
    width: 50px; /* Установите нужный размер кнопки */
    height: 50px; /* Установите нужный размер кнопки */
    border-radius: 50%; /* Делает кнопку круглой */
    border: 2px solid rgba(255, 255, 255, 0.16);
    background: linear-gradient(90deg, #F8A90C 0%, #E54A3F 100%);
    background-clip: padding-box;
    overflow: hidden;
    margin: 8px;
    display: flex; /* Используйте flexbox для центрирования содержимого */
    align-items: center; /* Вертикальное выравнивание */
    justify-content: center; /* Горизонтальное выравнивание */
    position: sticky;
    top: 500px;
    left: 50%;

}

.play-label {
    font-size: 18px;
}

.preview-card-container {
    position: relative; /* Позволяет позиционировать элементы внутри */
    display: inline-block; /* Устанавливает размер контейнера по содержимому */
    align-content: center;
    justify-content: center;
}
.preview-play-box {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0px;
    margin: 0px;
    bottom: 0;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    justify-content: center;
}


/*.game {*/
/*    width: 600px;*/
/*    border-radius: 28px;*/
/*    margin-bottom: 50px;*/
/*    position: absolute;*/
/*    bottom: -60px;*/
/*}*/

.play-button {
    width: 50px; /* Размер кнопки */
    height: 50px; /* Размер кнопки */
    border-radius: 50%; /* Делает кнопку круглой */
    border: 2px solid rgba(255, 255, 255, 0.16);
    background: linear-gradient(90deg, #F8A90C 0%, #E54A3F 100%);
    background-clip: padding-box;
    overflow: hidden;
    position: absolute; /* Абсолютное позиционирование внутри контейнера */
    bottom: 10px; /* Расстояние от нижнего края */
    right: 10px; /* Расстояние от правого края */
    display: flex; /* Используйте flexbox для центрирования содержимого */
    align-items: center; /* Вертикальное выравнивание */
    justify-content: center; /* Горизонтальное выравнивание */
}

.play-label {
    font-size: 18px;
    display: block;
    text-align: center; /* Центрирование текста под изображением */
    margin-top: 8px; /* Отступ сверху от кнопки */
}

.play-button {
    width: 50px; /* Размер кнопки */
    height: 50px; /* Размер кнопки */
    border-radius: 50%; /* Делает кнопку круглой */
    border: 2px solid rgba(255, 255, 255, 0.16);
    background: linear-gradient(90deg, #F8A90C 0%, #E54A3F 100%);
    background-clip: padding-box;
    overflow: hidden;
    position: absolute; /* Абсолютное позиционирование внутри контейнера */
    top: 50%; /* Центрирование по вертикали */
    left: 50%; /* Центрирование по горизонтали */
    transform: translate(-50%, -50%); /* Смещение обратно на 50% от размеров кнопки */
    display: flex; /* Используйте flexbox для центрирования содержимого */
    align-items: center; /* Вертикальное выравнивание */
    justify-content: center; /* Горизонтальное выравнивание */
}

.play-label {
    font-size: 18px;
    display: block;
    text-align: center; /* Центрирование текста под изображением */
    margin-top: 8px; /* Отступ сверху от кнопки */
}

.preview-card-container {
    position: relative; /* Позволяет позиционировать элементы внутри */
    display: inline-block; /* Устанавливает размер контейнера по содержимому */
    justify-content: center;
    align-content: center;
}

/*.game {*/
/*    !*display: block; !* Убирает возможные пробелы под изображением *!*! !* Устанавливает изображение на полный размер контейнера *!*/
/*    height: auto; !* Сохраняет пропорции изображения *!*/
/*    filter: brightness(80%);*/
/*}*/

/*.game:hover {*/
/*    filter: brightness(100%);*/
/*}*/

/*.preview-card-container{*/
/*    height: auto; !* Сохраняет пропорции изображения *!*/
/*    filter: brightness(80%);*/
/*}*/

/*.preview-card-container:hover {*/
/*    filter: brightness(100%);*/
/*}*/

.center-overlay {
    position: absolute; /* Абсолютное позиционирование внутри контейнера */
    /*top: -10px; !* Центрирование по вертикали *!*/
    /*left: -60px; !* Центрирование по горизонтали *!*/
    /*transform: translate(-50%, -50%); !* Смещение обратно на 50% от размеров контейнера *!*/
    display: flex; /* Используйте flexbox для центрирования содержимого */
    flex-direction: column; /* Вертикальное расположение элементов */
    align-items: center; /* Центрирование содержимого по горизонтали */
    justify-content: center; /* Центрирование содержимого по вертикали */
    text-align: center; /* Центрирование текста */
    padding: 0px;
    margin: 0px;
    top: 200px;
    left: -400px;
}

.overlay:hover ~ .game {
    filter: brightness(100%);
}



.play-button {
    width: 60px; /* Размер кнопки */
    height: 60px; /* Размер кнопки */
    border-radius: 50%; /* Делает кнопку круглой */
    border: 2px solid rgba(255, 255, 255, 0.16);
    background: linear-gradient(90deg, #F8A90C 0%, #E54A3F 100%);
    background-clip: padding-box;
    overflow: hidden;
    display: flex; /* Используйте flexbox для центрирования содержимого */
    align-items: center; /* Вертикальное выравнивание */
    justify-content: center; /* Горизонтальное выравнивание */
    margin-bottom: 8px; /* Отступ снизу от кнопки */
}

.play-label {
    font-size: 24px;
    padding: 10px;
    margin-top: 130px; /* Отступ сверху от надписи */
    /*margin-left: 17px;*/
}

.description-product-text {
    font-size: 24px;
    margin-bottom: 0px;
    color: white;
}

.event-block {
    background-color: red;
    z-index: 1000000;
}

















