.map-object {
    width: 331px;
    height: 185px;
    position: absolute;
    /*top: 300px;*/
}

.map-container {
    /*height: 1019px;*/
    /*width: 1812px;*/
    /*background-image: url('/public/source/object_images/map.png');*/

    width: 100%;
    /*height: 1019px;*/
    margin: 0;
}

.map-container .back {
    width: 120%;
    height: 120%;
    scale: 0.8;
    overflow: hidden;
    margin: 0;
    position: relative;
    left: -10%;
}

/*background: url('/public/source/object_images/map.png');*/
/*lightgray 50% / coverno-repeat;*/

.artek-arena {
    position: absolute;
    z-index: 3;
    top: 100px;
    right: -400px;
    scale: 0.09;
}

.description-card{
    z-index: 4;
    background-color: red;
}

.object-card {
    background-color: blue;
    position: fixed;
    top: -550px;
    right: -300px;
    z-index: 3;
}
